#pghead {
    text-align: center;
    background-color: rgb(85, 183, 201);;
    width: 300px;
    border: 3px solid rgb(166, 6, 180);
    right: 750px; ;
    position:fixed;
    
}

#loginform{
    text-align: center;
    position:fixed;
    bottom: 400px; ;
    right: 750px; ;
    width: 300px;
    border: 3px solid rgb(166, 6, 180);
    background-color:  rgb(85, 183, 201);;
   
}
body{
    
    
    background-color:whitesmoke 
    
}
#b1{
    position: fixed;
    bottom: 500px;
    right: 950px
}
#b2{
    position: fixed;
    bottom: 500px;
    right: 800px;
}
.board{
    text-align: center;
    background-color: rgb(85, 183, 201);;
    width: 150px;
    height: 150px;
    border: 3px solid rgb(166, 6, 180);
      
      
}
#board1{
    position: fixed;
    bottom: 60%;
    right: 60%;

}
